#containtOptions h2{
    
    margin:0;

    
}

.divContainOptionPolice{
    
    width:280px;
    resize:vertical;
    padding: 0 15px 0 15px;
}

.divContainOptionPolice p{
    
    margin: 0;
    padding: 10px 0 10px 0;

}