@font-face {
    font-family: 'DancingScriptRegular';
    src: url('font/DancingScriptRegular.otf') format("opentype");
}

.DancingScriptRegular{ font-family:DancingScriptRegular; }
.Arial{ font-family:Arial; }
.TimeNewRoman{ font-family: 'Times New Roman'; }
